@using NStore.Shared
@using NStore.Web.Models.Products

@model AddProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price.Amount" class="control-label">Price</label>
                <input asp-for="Price.Amount" class="form-control" />
                <label asp-for="Price.Currency" class="control-label">Currency</label>
                @Html.DropDownListFor(x => x.Price.Currency, Enum.GetValues(typeof(Currency))
                                                                 .Cast<Currency>()
                                                                 .Select(v => new SelectListItem { Text = v.ToString(), Value = ((int)v).ToString() })
                                                                 .ToList(), new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label asp-for="Image.Url" class="control-label"></label>
                <input asp-for="Image.Url" class="form-control" />
                <span asp-validation-for="Image.Url" class="text-danger"></span>
                <label asp-for="Image.AltText" class="control-label"></label>
                <input asp-for="Image.AltText" class="form-control" />
                <span asp-validation-for="Image.AltText" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(x => x.CategoryId, Model.Categories, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
